<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" parallel="tests">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"/>
        <packages >
            <package name="tests">
            </package>
        </packages>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <packages >
            <package name="tests">
            </package>
        </packages>
    </test>
    <test name="EdgeTest">
        <parameter name="browser" value="edge" />
        <packages >
            <package name="tests">
            </package>
        </packages>
    </test>
    <!--    <listeners>-->
    <!--        <listener class-name="io.qameta.allure.testng.AllureTestNg" />-->
    <!--    </listeners>-->


</suite>